<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= product.id ? 'Edit product' : 'Add product'%></h1>
    <form
      action="<%= product.id ? '/products/edit/' + product.id + '?_method=PUT' : '/products' %>"
      method="POST"
    >
      <label for="">
        Product title
        <input type="text" name="title" value="<%=product.title%>" required />
      </label>
      <label for="">
        Product amount
        <input
          type="number"
          name="amount"
          value="<%=product.amount%>"
          required
        />
      </label>
      <label for="">
        Product price
        <input type="number" name="price" value="<%=product.price%>" required />
      </label>
      <button type="submit"><%= product.id ? 'Save' : 'Add'%></button>
    </form>
  </body>
</html>
