<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/recet-styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="product-container">
        <%products.forEach(product=>{%>
        <div class="product-card">
          <a href="/products/<%= product.id %>">
            <div class="product-details">
              <h2 class="product-title">
                <%= product.brand %>
              </h2>
              <span class="product-year"><%= product.year %></span>
              <span class="product-license-plate"
                ><%= product.licensePlateNum %></span
              >
            </div>
            <div class="product-actions">
              <a href="/products/<%=product.id%>" class="edit-button">Edit</a>
              <button class="delete-button">Delete</button>
            </div>
          </a>
        </div>
        <%})%>
      </div>
      <div>
        <a href="/products/create" class="add-button">Add product</a>
      </div>
    </div>
  </body>
</html>
