<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/recet-styles.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />

    <script src="/javascripts/RequestManager.js"></script>
    <script>
      function onFileInput(event) {
        RequestManager.handleFileSelect(event, "#imgPreview");
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <%- include('sections/header', {title: 'User form'})%>
      <main class="container">
        <% if (errors?.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <hr />
        <% } %>
        <!-- enctype="multipart/form-data" -->
        <form
          action="/users/register<%= data?.id ? '/' + data.id : '' %>"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="text"
            name="name"
            placeholder="Name"
            value="<%= data ? data.name : '' %>"
          />
          <input
            type="number"
            name="age"
            placeholder="age"
            value="<%= data ? data.age : '' %>"
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            value="<%= data ? data.email : '' %>"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            value="<%= data ? data.password : '' %>"
          />
          <select name="type">
            <% types.forEach(type => { %>
            <option value="<%= type._id%>"><%= type.title%></option>
            <%})%>
          </select>
          <div class="prod-container">
            <label>
              Зображення товару <input type="file" name="userImg"
              accept="image/*" onchange="onFileInput(event)" <%= data ? '' :
              'required' %> />
            </label>
            <div>
              <img
                id="imgPreview"
                src="/<%= data?.img ?? 'default-image.jpg' %>"
                alt="Product Image Preview"
                class="image"
              />
            </div>
          </div>
          <button type="submit" class="submit-button">Register</button>
        </form>
      </main>
      <%-include('sections/footer', {title: 'footer'})%>
    </div>
  </body>
</html>
